body{
    background: url('./assets/background.jpg') no-repeat;
    background-size: cover;
}

h2, h3{
    text-shadow: black 1px 1px 1px;
}

p{
    font-size: large;
    transform: rotateX(15deg);
    text-shadow: black 1px 1px 1px;
    color: goldenrod;
}

table, fieldset{
    background-color: #B4B4B4;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: .5em;
    font-style: oblique;
}

h2{
    text-align: center;
    font-variant-caps: small-caps;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: goldenrod;
}


nav{
    background-color: rgba(240, 248, 255, .8);
    box-shadow: black 1px 1px 1px;
    padding-right: .85em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3{
    color: whitesmoke;
}
h3, h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
}

button, input[type=submit], input[type=radio], label, select{
    cursor: pointer;
}

#content, #content-alt{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#content[hidden], #content-alt[hidden]{
    display: none !important;
}
    
form{
    margin-bottom: 1em;
}

fieldset{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.fieldset--title{
    display: flex;
    justify-content: space-between;
    h3{
        padding: 0;
        margin: 0;
    }
}

.error-msg{
    color: red;
    font-style: italic;
}

table {
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 1em;
    border-collapse: collapse;
    text-overflow: ellipsis;
}

td, th {
    word-wrap: break-word;
    border: 1px solid black;
    padding: 0.5em;
}

.last-update-msj{
    color: white;
}